<div>
  <%if error_messages_for 'publisher' != nil%>
    <%= error_messages_for 'publisher' , :class=>"error_message" %>
  <%end%>

  <tr>
    <td><%= f.label :name %></td>
    <td><%= f.text_field :name %></td>
  </tr>
  <tr>
    <td><%= f.label :place %></td>
    <td><%= f.text_field :place %></td>
  </tr>
</div>
