<h1>Edit Publisher</h1>

<%= form_for @publisher, :url => book_publisher_path(@publisher) do |f| %>
  <%= render(:partial => 'form', :locals => { :f => f, :publisher => @publisher }) %>
<% end %>

<div class="submit_row">
  <%= link_to_function "Update", "$('form').last().submit();" %>
  <%= show_link :text => put("link_show"), :url => book_publisher_path(@publisher) %>
  <%= back_link :url => book_publishers_path %>
</div>