<div id="content_wrapper">
  <h1>Publisher Overview</h1>
  <table class="showtable">
    <tbody class="table_header">
      <td class="header_cell">Name</td>
      <td class="header_cell">Place</td>
      <td class="display_none_header_cell"></td>
      <td class="display_none_header_cell"></td>
      <td class="header_cell"><%= @count %></td>
    </tbody>
    <tbody class="button_row">
      <td class="header_cell"><%= link_to "New publisher...", new_book_publisher_path %></td>
    </tbody>
    <% @publishers.each do |publisher| %>
      <tbody class="<%= cycle("even","odd") %>">
        <td>
          <%= publisher[:name] %>
        </td>
        <td>
          <%= publisher[:place] %>
        </td>
        <td class="button_cell"><%= link_to("Show", book_publisher_path(publisher)) if @has_rights %></td>
        <td class="button_cell"><%= link_to("Edit", edit_book_publisher_path(publisher)) if @has_rights %></td>
        <td class="button_cell"><%= link_to("Destroy", book_publisher_path(publisher), :confirm => "Are you sure?", :method => :delete) if @has_rights %></td>
      </tbody>
    <% end %>
  </table>
</div>
