<div>
  <h1>Order <%= @order.id %></h1>
  <table class="showtable">
    <tr>
      <td>User</td>
      <td><%= @order.user.name %></td>
    </tr>
        
    <% quantities = @order.order.split(";").inject({}) do |h, x| 
      item = x.split(",")
      h[item[0]] = item[1]
      h
    end unless @order.order.nil? %>
        
    <tr>
      <td style="vertical-align: top;">Items</td>
      <td>
        <table class="filltable">
          <thead class="table_header">
            <th style="width: 50px;" class="header_cell">Item Id</th>
            <th class="header_cell">Name</th>
            <th class="header_cell">Quantity</th>
            <th style="width: 50px;" class="header_cell">Price</th>
          </thead>
          <tbody>
            <% total = 0.0 %>
            <% quantities.each_pair do |item_id, quantity| %>
              <% item = Item.find item_id %>
              <% prc = (quantity.to_i * item.price.to_f) %>
              <% total += prc %>
              <tr>
                <td><%= item.id %></td>
                <td><%= item.name %></td>
                <td style="text-align: center;"><%= quantity %></td>
                <td style="text-align: center;"><%= price prc %></td>
              </tr>
            <% end %>
            <tr>
              <td colspan="3" class="display_none_cell" style="text-align: right;">Total: </td>
              <td style="text-align: center;"><%= price total %></td>
            </tr>
          </tbody>
        </table>
      </td>
    </tr>
    <tr class="button_row">
      <td colspan="2"><%= back_link :url => orders_path %></td>
    </tr>
  </table>
</div>