<h1>Edit Category</h1>

<%= form_for @category, :url => bread_category_path(@category) do |f| %>
  <%= render(:partial => 'form', :locals => { :f => f, :category => @category }) %>
<% end %>

<div class="submit_row">
  <%= link_to_function "Update", "$('form').last().submit();" %>
  <%= show_link :text => put("link_show"), :url => bread_category_path(@category) %>
  <%= back_link :url => bread_categories_path %>
</div>