<div class="side_div" style="background-color: gray; text-align: center;">-</div>
<div class="main_div" id="main_div" style="">
  <div class="spacer_div">
    <h3 class="main_title" style="text-align: center;">Register</h3>
    <div style="margin-left: 265px; padding: 10px; width: 300px; background-image: url('/images/dnu/290000_50.png'); border-radius: 15px;">
      <%= register_input_text("First Name*", "first_name") %>
      <%= register_input_text("Last Name*", "last_name") %>
      <%= register_input_text("Email Address*", "email") %>
      <%= register_input_text("Username*", "login") %>
      <%= register_input_password("Password*", "password") %>
      <%= register_input_password("Password Confirmation*", "password_confirmation") %>
      <div style="margin: 0 auto; color: #F1F1F1; width: 205px; height: 30px;"><%= register_link %></div>
      <div style="clear: both;"></div>
    </div>
  </div>
</div>
<div class="side_div" style="background-color: gray; text-align: center;">-</div>

<script type="text/javascript">
  $("#main_div").backstretch("/images/dnu/ice_mage_bg.png", {
    centeredY: false
  });
</script>