<%if error_messages_for 'user' != nil%>
  <%= error_messages_for 'user' , :class=>"error_message" %>
<%end%>

<tr>
  <td><%= f.label "First Name:" %></td>
  <td><%= f.text_field :first_name %></td>
</tr>
<tr>
  <td><%= f.label "Last Name:" %></td>
  <td><%= f.text_field :last_name %></td>
</tr>
<tr>
  <td><%= f.label "Login:" %></td>
  <td><%= f.text_field :login %></td>
</tr>
<tr>
  <td><%= f.label "Password:" %></td>
  <td><%= f.text_field :password %></td>
</tr>