<% if user.errors.any? %>
  <div class="error_message">
    <p>
      <%= user.errors.full_messages.join("<br>").html_safe %>
    </p>
  </div>
<% end %>

<div class="grid_table" style="width: 500px;">
  <div class="grid_body">
    <%= grid_row("First Name:", cycle("even", "odd")){f.text_field :first_name, :style => "width: 90%;"} %>
    <%= grid_row("Last Name:", cycle("even", "odd")){f.text_field :last_name, :style => "width: 90%;"} %>
    <%= grid_row("Login:", cycle("even", "odd")){f.text_field :login, :style => "width: 90%;"} %>
    <%= grid_row("Password:", cycle("even", "odd")){f.text_field :password, :style => "width: 90%;"} %>
    <%= grid_row("Email:", cycle("even", "odd")){f.text_field :email, :style => "width: 90%;"} %>
    
    <% rights = RIGHTS.sort{|a, b| a[1] <=> b[1]} %>
    <% rights.each do |(key, right)| %>
      <div class="grid_row">
        <div style="width: 30%;" class="grid_cell rightalign"><%= key == rights.first.first ? "Rights" : "" %></div>
        <div style="width: 70%;" class="grid_cell leftalign"><%= check_box_tag "rights][]", right, (@usr.user_rights.map(&:rights_key).include?(right) rescue false) %> <%= right %></div>
      </div>
    <% end %>
  </div>
</div>