<h1>Change password</h1>
<div class="notice"><p>Password should be 8 characters or longer.<br>Hint: use capitals, numbers or other signs to make it stronger.</p></div>

<%= form_tag(change_password_users_path) do %>
  <div class="grid_table" style="width: 500px;">
    <div class="grid_body">
      <div class="grid_row <%= cycle("even", "odd") %>">
        <div style="width: 50%;" class="grid_cell rightalign">Old password:</div>
        <div style="width: 50%;" class="grid_cell leftalign"><%= password_field_tag "user[old_pwd]" %></div>
      </div>
      <div class="grid_row <%= cycle("even", "odd") %>">
        <div style="width: 50%;" class="grid_cell rightalign">New password:</div>
        <div style="width: 50%;" class="grid_cell leftalign"><%= password_field_tag "user[new_pwd]" %></div>
      </div>
      <div class="grid_row <%= cycle("even", "odd") %>">
        <div style="width: 50%;" class="grid_cell rightalign">Repeat new password:</div>
        <div style="width: 50%;" class="grid_cell leftalign"><%= password_field_tag "user[rpt_pwd]" %></div>
      </div>
    </div>
  </div>
<% end %>

<div class="submit_row">
  <%= link_to_function "Update", "$('form').last().submit();" %>
  <%= back_link :url => home_root_index_path %>
</div>
