<div>
  <h1>Change password</h1>
  <table class="showtable">
    <% form_tag(change_password_users_path) do %>
      <tr>
        <td colspan="2">Password should be 8 characters or longer. Hints: use capitals, numbers or other signs to make it stronger.</td>
      </tr>
      <tr>
        <td><%= label_tag "Old password:" %></td>
        <td><%= password_field_tag "user[old_pwd]" %></td>
      </tr>
      <tr>
        <td><%= label_tag "New password:" %></td>
        <td><%= password_field_tag "user[new_pwd]" %></td>
      </tr>
      <tr>
        <td><%= label_tag "Repeat new password:" %></td>
        <td><%= password_field_tag "user[rpt_pwd]" %></td>
      </tr>
      <tr class="button_row">
        <td colspan="2"><%= submit_tag "Update" %> | <%= back_link :url => home_root_path %></td>
      </tr>
    <% end %>
  </table>
</div>