<h1>Edit User</h1>

<%= form_for @usr, :url => user_path(@usr) do |f| %>
  <%= render(:partial => 'form', :locals => { :f => f, :user => @usr }) %>
<% end %>

<div class="submit_row">
  <%= link_to_function "Update", "$('form').last().submit();" %>
  <%= show_link :text => put("link_show"), :url => user_path(@usr) %>
  <%= back_link :url => users_path %>
</div>