<h1><%= @usr.full_name %></h1>

<div class="grid_table" style="width: 500px;">
  <div class="grid_body">
    <div class="grid_row <%= cycle("even", "odd") %>">
      <div style="width: 50%;" class="grid_cell rightalign">First Name</div>
      <div style="width: 50%;" class="grid_cell leftalign"><%= @usr.first_name %></div>
    </div>
    <div class="grid_row <%= cycle("even", "odd") %>">
      <div style="width: 50%;" class="grid_cell rightalign">Last Name</div>
      <div style="width: 50%;" class="grid_cell leftalign"><%= @usr.last_name %></div>
    </div>
    <div class="grid_row <%= cycle("even", "odd") %>">
      <div style="width: 50%;" class="grid_cell rightalign">Email</div>
      <div style="width: 50%;" class="grid_cell leftalign"><%= @usr.email %></div>
    </div>
    <div class="grid_row <%= cycle("even", "odd") %>">
      <div style="width: 50%;" class="grid_cell rightalign">Created at</div>
      <div style="width: 50%;" class="grid_cell leftalign"><%= @usr.created_at.in_our_time %></div>
    </div>
  </div>
</div>

<div class="submit_row">
  <%= back_link :url => users_path %>
</div>