<%if error_messages_for 'bread_log' != nil%>
  <%= error_messages_for 'bread_log' , :class=>"error_message" %>
<%end%>

<tr>
  <td><%= f.label "Category:" %></td>
  <td><%= select_tag("bread_log[cat_id]", options_for_select(BREAD_LOG_CAT.keys.sort.inject([]){|a, x| a << [[BREAD_LOG_CAT[x]],[x]]; a})) %></td>
</tr>
<tr>
  <td><%= f.label "Date: (DD/MM/YYYY)" %></td>
  <td><%= text_field_tag "log_date", (bread_log.event_date.strftime("%d/%m/%Y") rescue Date.today.strftime("%d/%m/%Y")) %></td>
</tr>
<tr>
  <td><%= f.label "Price: (00.00)" %></td>
  <td><%= f.text_field :price %></td>
</tr>