<h1>Weekly Orders</h1>
<% if @user.has_rights_for?([RIGHTS[:admin]]) %>
  <div class="grid_table" style="width: 500px">
    <% Bread::WeeklyOrder.all.each do |order| %>
      <%= render :partial => "table_helpers/single_header", :locals => {:title => "Order: #{User.find(order.user_id).full_name}"} %>
      <div class="grid_body">
        <%= render :partial => "item_list", :locals => {:order => order} %>
        <div class="grid_row <%= cycle("even", "odd") %>">
          <div style="width: 100%;" class="grid_cell"><%= edit_link :url => edit_bread_weekly_order_path(order) %>&nbsp;&nbsp;<%= destroy_link :url => bread_weekly_order_path(order) %></div>
        </div>
      </div>
    <% end %>
  </div>
  
  <div class="submit_row">
    <%= back_link :url => home_root_index_path %>
    <%= new_link :url => new_bread_weekly_order_path %>
  </div>
<% else %>
  <div class="grid_table" style="width: 500px">
    <%= render :partial => "table_helpers/single_header", :locals => {:title => "Items"} %>
    <div class="grid_body">
      <% unless @can_create %>
        <%= render :partial => "item_list", :locals => {:order => @order} %>
      <% end %>
    </div>
  </div>
  
  <div class="submit_row">
    <%= back_link :url => home_root_index_path %>
    <% if @can_create %>
      <%= new_link :url => new_bread_weekly_order_path %>
    <% else %>
      <%= edit_link :text => put("link_edit"), :url => edit_bread_weekly_order_path(@order) %>
      <%= destroy_link(:text => put("link_destroy"), :url => bread_weekly_order_path(@order)) if @user.has_rights_for?([RIGHTS[:bread_admin], RIGHTS[:admin]]) %>
      <%= put("max_one_preorder") %>
    <% end %>
  </div>
<% end %>