<h1>Bread Logs</h1>
<div id="searchwrapper">
  <%= will_paginate @bread_logs, :params => params %>
  <table class="showtable">
    <tbody class="table_header">
      <td class="header_cell">Id</td>
      <td class="header_cell">Log Category</td>
      <td class="header_cell">Date</td>
      <td class="header_cell">Price</td>
      <td class="header_cell"><%= @bread_logs.total_entries %></td>
    </tbody>
    <tbody class="button_row">
      <td colspan="4" class="header_cell">
        <span style="font-size: 20px; text-decoration: blink;"><%= new_link :url => new_bread_bread_log_path %></span>
      </td>
    </tbody>
    <% @bread_logs.each do |log| %>
      <tbody class="<%= cycle("even","odd") %>">
        <td>
          <%= log.id %>
        </td>
        <td>
          <%= BREAD_LOG_CAT[log.cat_id] %>
        </td>
        <td style="text-align: center;">
          <%= log.event_date.strftime "%e %b %Y" %>
        </td>
        <td style="text-align: center;">
          &euro; <%= sprintf "%5.2f", log.price %>
        </td>
        <td class="button_cell"><%= edit_link :url => edit_bread_bread_log_path(log) %></td>
      </tbody>
    <% end %>
  </table>
</div>