
<h1>Bread Logs</h1>
<%= will_paginate @bread_logs, :params => params %>
<div class="grid_table" style="width: 500px;">
  <div class="grid_header">
    <div class="grid_row">
      <div style="width: 10%;" class="grid_cell">ID</div>
      <div style="width: 30%;" class="grid_cell">Log Category</div>
      <div style="width: 20%;" class="grid_cell">Date</div>
      <div style="width: 20%;" class="grid_cell">Price</div>
      <div style="width: 20%;" class="grid_cell">&nbsp;</div>
    </div>
  </div>
  <div class="grid_body">
    <% @bread_logs.each do |log| %>
      <div class="grid_row <%= cycle("even", "odd") %>">
        <div style="width: 10%;" class="grid_cell"><%= log.id %></div>
        <div style="width: 30%;" class="grid_cell leftalign"><%= BREAD_LOG_CAT[log.cat_id] %></div>
        <div style="width: 20%;" class="grid_cell"><%= log.event_date.in_our_time(:time) %></div>
        <div style="width: 20%;" class="grid_cell"><%= price log.price %></div>
        <div style="width: 20%;" class="grid_cell"><%= edit_link :url => edit_bread_bread_log_path(log) %></div>
      </div>
    <% end %>
  </div>
</div>

<div class="submit_row">
  <%= back_link :url => home_root_index_path %>
  <%= new_link :url => new_bread_bread_log_path %>
</div>