<h1>Edit Static</h1>

<%= form_for @static, :url => static_path(@static) do |f| %>
  <% if @static.errors.any? %>
    <div class="error_message">
      <p>
        <%= @static.errors.full_messages.join("<br>").html_safe %>
      </p>
    </div>
  <% end %>
  
  <div style="width: 500px; margin: 0 auto;">
    Text:<br><%= f.text_area :text, {:style => "width: 490px; height: 250px;"} %>
  </div>
<% end %>

<div class="submit_row">
  <%= link_to_function "Update", "$('form').last().submit();" %>
  <%= back_link :url => statics_path %>
</div>