<div id="searchwrapper">
  <% if @statics.total_entries < 1 %>
    <p>No statics found...</p>
  <% else %>
    <%= will_paginate @statics, :params => params %>
    <table class="showtable">
      <tbody class="table_header">
        <td class="header_cell">Id</td>
        <td class="header_cell">Identifier</td>
        <td class="header_cell">Text</td>
        <td class="display_none_header_cell"></td>
        <td class="header_cell"><%= @count %></td>
      </tbody>
      <% @statics.each do |static| %>
        <tbody class="<%= cycle("even","odd") %>">
          <td>
            <%= static.id %>
          </td>
          <td>
            <%= static.identifier %>
          </td>
          <td>
            <%= shorten static.text %>
          </td>
          <td class="button_cell"><%= edit_link :url => edit_static_path(static) %></td>
          <td class="button_cell"><%= destroy_link :url => static_path(static) %></td>
        </tbody>
      <% end %>
    </table>
  <% end %>
</div>