<h1>Statics</h1>
<%= will_paginate @statics, :params => params %>
<div class="grid_table" style="width: 500px;">
  <div class="grid_header">
    <div class="grid_row">
      <div style="width: 10%;" class="grid_cell">ID</div>
      <div style="width: 30%;" class="grid_cell">Identifier</div>
      <div style="width: 40%;" class="grid_cell">Text</div>
      <div style="width: 20%;" class="grid_cell">&nbsp;</div>
    </div>
  </div>
  <div class="grid_body">
    <% @statics.each do |static| %>
      <div class="grid_row <%= cycle("even", "odd") %>">
        <div style="width: 10%;" class="grid_cell"><%= static.id %></div>
        <div style="width: 30%;" class="grid_cell leftalign"><%= static.identifier %></div>
        <div style="width: 40%;" class="grid_cell leftalign"><%= shorten static.text, 30 %></div>
        <div style="width: 20%;" class="grid_cell"><%= edit_link :url => edit_static_path(static) %>&nbsp;&nbsp;<%= destroy_link :url => static_path(static) %></div>
      </div>
    <% end %>
  </div>
</div>

<div class="submit_row">
  <%= back_link :url => home_root_index_path %>
</div>