<div id="content_wrapper">
  <h1>Author Overview</h1>
  <table class="showtable">
    <tbody class="table_header">
      <td class="header_cell">Name</td>
      <td class="display_none_header_cell"></td>
      <td class="display_none_header_cell"></td>
      <td class="header_cell"><%= @count %></td>
    </tbody>
    <tbody class="button_row">
      <td class="header_cell"><%= link_to "New author...", new_book_author_path %></td>
    </tbody>
    <% @authors.each do |author| %>
      <tbody class="<%= cycle("even","odd") %>">
        <td>
          <%= author[:name] %>
        </td>
        <td class="button_cell"><%= link_to("Show", book_author_path(author)) if @has_rights %></td>
        <td class="button_cell"><%= link_to("Edit", edit_book_author_path(author)) if @has_rights %></td>
        <td class="button_cell"><%= link_to("Destroy", book_author_path(author), :confirm => "Are you sure?", :method => :delete) if @has_rights %></td>
      </tbody>
    <% end %>
  </table>
</div>
