<%if error_messages_for 'order' != nil%>
  <%= error_messages_for 'order' , :class=>"error_message" %>
<%end%>

<tr>
  <td><%= f.label "User:" %></td>
  <td>
    <% if @user.has_rights_for?([RIGHTS[:bread_admin], RIGHTS[:admin]]) %>
      <%= f.select :user_id, options_from_collection_for_select(User.find(:all, :order => "first_name ASC"), :id, :name, order.user_id) %>
    <% else %>
      <%= @user %>
      <%= hidden_field_tag "bread_order[user_id]", @user.id %>
    <% end %>
  </td>
</tr>
<tr>
  <td><%= f.label "Due date:" %></td>
  <td>
    <% next_saturday = @order.saturday_int rescue nil %>
    <% if @user.has_rights_for?([RIGHTS[:bread_admin], RIGHTS[:admin]]) %>
      <% if next_saturday.nil? %>
        <% next_saturday = ((Date.today.end_of_week - 1) >= Date.today ? (Date.today.end_of_week - 1) : (Date.today.end_of_week + 6)) %>
        <% options = (0..4).inject([]){ |a, x| a << "<option value='#{next_saturday + x.weeks}'>#{(next_saturday + x.weeks).strftime('%e %b %Y')}</option>"; a}.join %>
        <%= select_tag "bread_order[saturday_int]", options %>
      <% else %>
        <% next_saturday = next_saturday.nil? ? ((Date.today.end_of_week - 1) >= Date.today ? (Date.today.end_of_week - 1) : (Date.today.end_of_week + 6)) : next_saturday %>
        <%= next_saturday.strftime("%e %b %Y") %>
        <%= hidden_field_tag "bread_order[saturday_int]", next_saturday %>
      <% end %>
    <% else %>
      <% next_saturday = next_saturday.nil? ? ((Date.today.end_of_week - 1) >= Date.today ? (Date.today.end_of_week - 1) : (Date.today.end_of_week + 6)) : next_saturday %>
      <%= next_saturday.strftime("%e %b %Y") %>
      <%= hidden_field_tag "bread_order[saturday_int]", next_saturday %>
    <% end %>
  </td>
</tr>
<tr>
  <td><%= f.label "Items:" %></td>
  <td style="width: 700px; min-width: 700px; max-width: 700px;">
    <div id="tabination">
      <div class="tabs">
        
        <% quantities = order.order.split(";").inject({}) do |h, x| 
          item = x.split(",")
          h[item[0]] = item[1]
          h
        end unless order.order.nil? %>
        
        <% Bread::Category.find(:all, :order => "name ASC").each do |category| %>
          <div tab_id="<%= category.id %>" class="tab" onclick="open_tab('<%= category.id %>')">
            <span><%= category.name %></span>
          </div>
        <% end %>
      </div>
      <div class="tabs_contents">
        <% Bread::Category.find(:all, :order => "name ASC").each do |category| %>
          <div class="tab_content tab_content_<%= category.id %>">
            <table style="width: 480px;">
              <% category.items.each do |item| %>
                <tr>
                  <td id="quantity_<%= item.id %>"><%= item.name %></td>
                  <td><span>Quantity: <%= sprintf "%5.2f", item.price %>&euro; * </span><%= text_field_tag "items[#{item.id}][quantity]", (quantities["#{item.id}"] rescue ""), :style => "width: 20px;", :class => "quantity_field", :price => item.price, :td_id => "quantity_#{item.id}", :onkeyup => "adjust_qtip_content();" %></td>
                </tr>
                <span></span>
                
              <% end %>
            </table>
          </div>
        <% end %>
      </div>
    </div>
  </td>
</tr>