<h1>Orders</h1>
<%= will_paginate @orders, :params => params %>
<div class="grid_table" style="width: 950px">
  <div class="grid_header">
    <div class="grid_row">
      <div style="width: 5%;" class="grid_cell">ID</div>
      <div style="width: 55%;" class="grid_cell">User</div>
      <div style="width: 10%;" class="grid_cell">Paid?</div>
      <div style="width: 20%;" class="grid_cell">Saturday</div>
      <div style="width: 10%;" class="grid_cell">&nbsp;</div>
    </div>
  </div>
  <div class="grid_body">
    <% @orders.each do |order| %>
      <div class="grid_row <%= cycle("even", "odd") %>">
        <div style="width: 5%;" class="grid_cell"><%= order.id %></div>
        <div style="width: 55%;" class="grid_cell leftalign"><%= order.user.name %></div>
        <div style="width: 10%;" class="grid_cell leftalign">
          <%= order.paid.to_img %>
          <% unless order.paid || !@user.has_rights_for?([RIGHTS[:bread_admin], RIGHTS[:admin]]) %>
            <%= link_to "Paid!", set_paid_bread_orders_path(:id => order.id) %>
          <% end %>
        </div>
        <div style="width: 20%;" class="grid_cell"><%= order.saturday_int.in_our_time(:time) %></div>
        <div style="width: 10%;" class="grid_cell"><%= edit_link :url => edit_bread_order_path(order) %>&nbsp;&nbsp;<%= destroy_link(:url => bread_order_path(order)) if @user.has_rights_for?([RIGHTS[:bread_admin], RIGHTS[:admin]]) %>&nbsp;&nbsp;<%= show_link :url => bread_order_path(order) %></div>
      </div>
    <% end %>
  </div>
</div>

<div class="submit_row">
  <%= back_link :url => home_root_index_path %>
  <% if @can_order %>
    <%= new_link :url => new_bread_order_path %>
  <% else %>
    <%= put("orders_outside_hours") %>
  <% end %>
</div>