<h1>Order <%= @order.id %></h1>

<div class="grid_table" style="width: 500px;">
  <div class="grid_body">
    <div class="grid_row <%= cycle("even", "odd") %>">
      <div style="width: 50%;" class="grid_cell rightalign">User</div>
      <div style="width: 50%;" class="grid_cell leftalign"><%= @order.user.name %></div>
    </div>
    <div class="grid_row <%= cycle("even", "odd") %>">
      <div style="width: 50%;" class="grid_cell rightalign">Due Date</div>
      <div style="width: 50%;" class="grid_cell leftalign"><%= @order.saturday_int.in_our_time(:time) %></div>
    </div>
    <% @quantities.each do |(item_id, value)| %>
      <div class="grid_row">
        <div style="width: 50%;" class="grid_cell rightalign"><%= item_id == @quantities.first.first ? "Items" : "" %></div>
        <div style="width: 40%;" class="grid_cell rightalign"><%= value[0] %> * <%= value[1] %></div>
        <div style="width: 10%;" class="grid_cell"><%= price value[2] %></div>
      </div>
    <% end %>
    <div class="grid_row <%= cycle("even", "odd") %>">
      <div style="width: 50%;" class="grid_cell rightalign">Total</div>
      <div style="width: 50%;" class="grid_cell rightalign"><%= price @total %></div>
    </div>
  </div>
</div>

<div class="submit_row">
  <%= back_link :url => bread_orders_path %>
</div>