<% if serie.errors.any? %>
  <div class="error_message">
    <p>
      <%= serie.errors.full_messages.join("<br>").html_safe %>
    </p>
  </div>
<% end %>

<div class="grid_table" style="width: 500px;">
  <div class="grid_body">
    <div class="grid_row <%= cycle("even", "odd") %>">
      <div style="width: 30%;" class="grid_cell rightalign">Name:</div>
      <div style="width: 70%;" class="grid_cell leftalign"><%= f.text_field :name, :style => "width: 90%;" %></div>
    </div>
    <div class="grid_row <%= cycle("even", "odd") %>">
      <div style="width: 30%;" class="grid_cell rightalign">Author:</div>
      <div style="width: 70%;" class="grid_cell leftalign"><%= f.select :author_id, options_from_collection_for_select(Book::Author.ordered_by_name, :id, :name, serie.author_id), :include_blank => true %></div>
    </div>
  </div>
</div>