<h1>Edit Serie</h1>

<%= form_for @serie, :url => book_series_path(@serie) do |f| %>
  <%= render(:partial => 'form', :locals => { :f => f, :serie => @serie }) %>
<% end %>

<div class="submit_row">
  <%= link_to_function "Update", "$('form').last().submit();" %>
  <%= show_link :text => put("link_show"), :url => book_series_path(@serie) %>
  <%= back_link :url => book_series_index_path %>
</div>