<%if error_messages_for 'category' != nil%>
  <%= error_messages_for 'category' , :class=>"error_message" %>
<%end%>

<tr>
  <td><%= f.label "Name:" %></td>
  <td><%= f.text_field :name %></td>
</tr>
<tr>
  <td><%= f.label "Description:" %></td>
  <td><%= f.text_field :description %></td>
</tr>