<h1>Users</h1>
<div id="searchwrapper">
  <%= will_paginate @users, :params => params %>
  <table class="showtable">
    <tbody class="table_header">
      <td class="header_cell">Id</td>
      <td class="header_cell">Name</td>
      <td class="header_cell">Login</td>
      <td class="display_none_header_cell"></td>
      <td class="display_none_header_cell"></td>
      <td class="header_cell"><%= @users.total_entries %></td>
    </tbody>
    <tbody class="button_row">
      <td colspan="3" class="header_cell"><%= new_link :url => new_user_path %></td>
    </tbody>
    <% @users.each do |user| %>
      <tbody class="<%= cycle("even","odd") %>">
        <td>
          <%= user.id %>
        </td>
        <td>
          <%= user.name %>
        </td>
        <td>
          <%= user.login %>
        </td>
        <td class="button_cell"><%= edit_link :url => edit_user_path(user) %></td>
        <td class="button_cell"><%= destroy_link :url => user_path(user) %></td>
        <td class="button_cell"><%= show_link :url => user_path(user) %></td>
      </tbody>
    <% end %>
  </table>
</div>