<h1>NewsFeeds</h1>
<%= will_paginate @feeds, :params => params %>
<div class="grid_table" style="width: 500px;">
  <div class="grid_header">
    <div class="grid_row">
      <div style="width: 10%;" class="grid_cell">ID</div>
      <div style="width: 90%;" class="grid_cell">Name</div>
    </div>
  </div>
  <div class="grid_body">
    <% @feeds.each do |feed| %>
      <div class="grid_row <%= cycle("even", "odd") %>">
        <div style="width: 10%;" class="grid_cell"><%= feed.id %></div>
        <div style="width: 90%;" class="grid_cell leftalign"><%= shorten feed.text, 70 %></div>
      </div>
    <% end %>
  </div>
</div>

<div class="submit_row">
  <%= back_link :url => home_root_index_path %>
  <%= new_link :url => new_news_feed_path %>
</div>