<div id="content_wrapper">
  <h1>Designation Overview</h1>
  <table class="showtable">
    <tbody class="table_header">
      <td class="header_cell">Name</td>
      <td class="display_none_header_cell"></td>
      <td class="header_cell"><%= @count %></td>
    </tbody>
    <tbody class="button_row">
      <td class="header_cell"><%= link_to "New designation...", new_workday_designation_path %></td>
    </tbody>
    <% @designations.each do |des| %>
      <tbody class="<%= cycle("even","odd") %>">
        <td style="background-color: #<%= des.colour %>;" class="font_bordered">
          <%= des.name %>
        </td>
        <td class="button_cell"><%= link_to("Edit", edit_workday_designation_path(des)) if @has_rights %></td>
        <td class="button_cell"><%= link_to("Destroy", workday_designation_path(des), :confirm => "Are you sure?", :method => :delete) if @has_rights %></td>
      </tbody>
    <% end %>
  </table>
</div>
