<h1>Bread Report - <%= @next_saturday.in_our_time(:time) %></h1>

<div class="grid_table" style="width: 500px;">
  <div class="grid_header cat_header">
    <div class="grid_row">
      <div style="width: 100%;" class="grid_cell" onclick="$('.cat_row').hide(); $('.cat_bread').toggle();">Number of breads</div>
    </div>
  </div>
  <% @breads_shorted.sort{|a, b| a[0] <=> b[0]}.each do |(name, quant)| %>
    <div class="grid_body cat_row cat_bread">
      <div class="grid_row <%= cycle("even", "odd") %>">
        <div style="width: 50%;" class="grid_cell rightalign"><%= name %></div>
        <div style="width: 50%;" class="grid_cell leftalign"><%= quant %></div>
      </div>
    </div>
  <% end %>
  <div class="grid_header cat_header">
    <div class="grid_row">
      <div style="width: 100%;" class="grid_cell" onclick="$('.cat_row').hide(); $('.cat_people').toggle();">Division 'Breads/People'</div>
    </div>
  </div>
  <div class="grid_body cat_row cat_people" style="display: none;">
    <% @people.sort{|a, b| a[0] <=> b[0]}.each do |(name, hsh)| %>
      <% sorted_hsh = hsh.sort{|a, b| a[0] <=> b[0]} %>
      <% sorted_hsh.each do |(item, quantity)| %>
        <div class="grid_row">
          <div style="width: 30%;" class="grid_cell"><%= item == sorted_hsh.first.first ? name : "&nbsp;".html_safe %></div>
          <div style="width: 50%;" class="grid_cell leftalign"><%= item %></div>
          <div style="width: 20%;" class="grid_cell"><%= quantity %></div>
        </div>
      <% end %>
    <% end %>
  </div>
</div>