<% if item.errors.any? %>
  <div class="error_message">
    <p>
      <%= item.errors.full_messages.join("<br>").html_safe %>
    </p>
  </div>
<% end %>

<div class="grid_table" style="width: 500px;">
  <div class="grid_body">
    <div class="grid_row <%= cycle("even", "odd") %>">
      <div style="width: 50%;" class="grid_cell rightalign">Name:</div>
      <div style="width: 50%;" class="grid_cell leftalign"><%= f.text_field :name %></div>
    </div>
    <div class="grid_row <%= cycle("even", "odd") %>">
      <div style="width: 50%;" class="grid_cell rightalign">Price: (00.00):</div>
      <div style="width: 50%;" class="grid_cell leftalign"><%= f.text_field :price %></div>
    </div>
    <div class="grid_row <%= cycle("even", "odd") %>">
      <div style="width: 50%;" class="grid_cell rightalign">Category:</div>
      <div style="width: 50%;" class="grid_cell leftalign"><%= f.select :category_id, options_from_collection_for_select(Bread::Category.find(:all, :order => "name ASC"), :id, :name, item.category_id) %></div>
    </div>
    <div class="grid_row <%= cycle("even", "odd") %>">
      <div style="width: 50%;" class="grid_cell rightalign">Enabled:</div>
      <div style="width: 50%;" class="grid_cell leftalign">
        <%= hidden_field_tag "bread_item[enabled]", "0" %>
        <%= check_box_tag "bread_item[enabled]", true, item.enabled %>
      </div>
    </div>
  </div>
</div>