<% if item.errors.any? %>
  <div class="error_message">
    <p>
      <%= item.errors.full_messages.join("<br>").html_safe %>
    </p>
  </div>
<% end %>

<%= hidden_field_tag "bread_item[enabled]", "0" %>
<div class="grid_table" style="width: 500px;">
  <div class="grid_body">
    <%= grid_row("Name:", cycle("even", "odd")){f.text_field :name, :style => "width: 90%;"} %>
    <%= grid_row("Price: (00.00)", cycle("even", "odd")){f.text_field :price, :style => "width: 90%;"} %>
    <%= grid_row("Category:", cycle("even", "odd")){f.select :category_id, options_from_collection_for_select(Bread::Category.find(:all, :order => "name ASC"), :id, :name, item.category_id} %>
    <%= grid_row("Enabled:", cycle("even", "odd")){check_box_tag "bread_item[enabled]", true, item.enabled} %>
  </div>
</div>