<h1>Items</h1>
<%= will_paginate @items, :params => params %>
<div class="grid_table" style="width: 500px;">
  <div class="grid_header">
    <div class="grid_row">
      <div style="width: 10%;" class="grid_cell">ID</div>
      <div style="width: 50%;" class="grid_cell">Name</div>
      <div style="width: 20%;" class="grid_cell">Enabled</div>
      <div style="width: 20%;" class="grid_cell">&nbsp;</div>
    </div>
  </div>
  <div class="grid_body">
    <% @items.each do |item| %>
      <div class="grid_row <%= cycle("even", "odd") %>">
        <div style="width: 10%;" class="grid_cell"><%= item.id %></div>
        <div style="width: 50%;" class="grid_cell leftalign"><%= item.name %></div>
        <div style="width: 20%;" class="grid_cell"><%= item.enabled.to_img %></div>
        <div style="width: 20%;" class="grid_cell"><%= edit_link :url => edit_bread_item_path(item) %>&nbsp;&nbsp;<%= destroy_link :url => bread_item_path(item) %>&nbsp;&nbsp;<%= show_link :url => bread_item_path(item) %></div>
      </div>
    <% end %>
  </div>
</div>

<div class="submit_row">
  <%= back_link :url => home_root_index_path %>
  <%= new_link :url => new_bread_item_path %>
</div>