<!DOCTYPE html>
<html>
  <head>
    <meta http-equiv="Content-type" content="text/html; charset=utf-8" />
<!--    <link type="image/x-icon" href="/images/favicon.ico" rel="shortcut icon"></link>
    <link rel="image_src" href="http://evaluator.helionresearch.com/images/logo_sp1.png" />
    <meta property="og:image" content="http://evaluator.helionresearch.com/images/logo_sp1.png" />-->
    <meta name="generator" content="Nico Reynen" />   
    
    <%= stylesheet_link_tag "/stylesheets/master_control_default" %>
    
    <%= javascript_include_tag "jquery-1.7.1.js" %>
    <%= javascript_include_tag "jquery.qtip.min.js" %>
    <%= javascript_include_tag "application.js", "jquery.backstretch.min.js", "general/tabination.js" %>
    
    <%= yield :head %>
    
    <%= @js_mapping if @js_mapping %>
    </head>
      <script type="text/javascript">
        $.backstretch("/images/main_bg.jpg");
    </script>
  <body>
    <div id="main_overlay">
      <div id="page_wrapper">
        <%= render(:partial => "layouts/nav.html") if @user %>
        <div id="main_border_div">
          <div id="main_table_div">
            <div id="page">
              <div id="home_page_wrp_up"  class="greywrap wrappers">
                <div class="shade middlemargin">
                  <%= generate_notice flash %>
                </div>
                <div id="hoofdwrap" class="middlemargin">
                  <div class="shadow">
                    <div>
                    </div>
                  </div>
                </div>
              </div>
              <div id="home_page_wrp_down" class="wrappers">
                <%= yield :content or yield %>
              <div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>