<!DOCTYPE html>
<html>
  <head>
    <title>MasterControl</title>
    <meta http-equiv="Content-type" content="text/html; charset=utf-8" />
    <meta name="generator" content="Nico Reynen" />
    
    <%= stylesheet_link_tag "application", media: "all", "data-turbolinks-track" => true %>
    <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
    <%= csrf_meta_tags %>
    
    <%= yield :head %>
    
    <%= @js_mapping if @js_mapping %>
  </head>
  <body>
    <div id="main_page">
      <div id="main_banner">
        <%= render :partial => "layouts/main_page_support/header" %>
      </div>
      <div id="main_menu">
        <%= render :partial => "layouts/main_page_support/navigation" %>
      </div>
      <div id="main_content">
        <%= generate_notice flash %>
        <%= yield %>
      </div>
      <div id="main_footer">
        <%= render :partial => "layouts/main_page_support/footer" %>
      </div>
    </div>
  </body>
</html>
